{% extends 'base.html.twig' %}

{% block title %}Formulaire Fournisseur{% endblock %}

{% block body %}
<h1>Formulaire Fournisseur</h1>

    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form) }}
{% endblock %}
